.odd {
    background-color: rgb(214, 73, 115);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.size {
    font-size: 24px;
}

#second {
    color: rgb(25, 0, 255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(0, 255, 13);
    font-weight: bold;
}